
@{
    ViewData["Title"] = "Message";
}

<h4>Message</h4>

@using (Html.BeginForm())
{
    <div>
        @Html.Label("MessageTarget", "Recipient of Message: ")<br />
        @Html.TextBox("MessageRecipient")
        <input type="submit" value="Check Recipient" class="btn btn-primary" />
    </div>
    <br /> @ViewData["RecipientExist"]
    @if(ViewData["RecipientExist"] != null) { 
    @if(ViewData["RecipientExist"].Equals("Recipient Found!"))
    {<br />
        @Html.Label("MessageBody", "Enter Message: ")<br />
        @Html.TextBox("Message")
        <input type="submit" value="Send Message" class="btn btn-primary" />
    }
    }
}

